body {
    /* background: rgba(48, 84, 46, 1); */
    background: rgba(70, 119, 67, 1);
}
.deck {
    display: inline-block;
    margin: 30px 0;
}
.hands_area {
    overflow: hidden;
    width: auto;
    height: 130px;
    margin: 10px;
    float:left;
}


.deal-btn {
    position: absolute;
    top: 38%;
    left: 57%;
    z-index: 10;
}

.hands_container {
    text-align: center;
    background: rgba(20, 20, 20, 0.9);
    color: rgba(200, 200, 200, 0.9);
}
.dealer_area {
    position:absolute;
    top: 20%;
    left: 35%;
    width: 30%;
}
.player0_area {
    position:absolute;
    top: 70%;
    left: 2.5%;
    width: 30%;
}
.player1_area {
    position:absolute;
    top: 70%;
    left: 35%;
    width: 30%;
}
.player2_area {
    position:absolute;
    top: 70%;
    right: 2.5%;
    width: 30%;

}


.card-img {
    background: url(../images/deck.png) no-repeat;
    display: block;
    padding: 53px 39px;
}

.hands {
    list-style: none;
    margin: 10px;
    background: red;
    display: block;
    float: left;
} 

/* card img */
#card-cover {
    background: url(../images/card-cover.jpg) no-repeat;
    display: block;
    padding: 53px 40.2px;
    background-size: contain;
    background-position: center;
    /* background-repeat: no-repeat; */
}
#CA {
    background-position: -2px -2px;
}
#C2 {
    background-position: -93px -2px;
}
#C3 {
    background-position: -183px -2px;
}
#C4 {
    background-position: -273px -2px;
}
#C5 {
    background-position: -363px -2px;
}
#C6 {
    background-position: -453px -2px;
}
#C7 {
    background-position: -544px -2px;
}
#C8 {
    background-position: -634px -2px;
}
#C9 {
    background-position: -724px -2px;
}
#C10 {
    background-position: -814px -2px;
}
#CJ {
    background-position: -904px -2px;
}
#CQ {
    background-position: -995px -2px;
}
#CK {
    background-position: -1085px -2px;
}
#SA {
    background-position: -2px -115px;
}
#S2 {
    background-position: -93px -115px;
}
#S3 {
    background-position: -183px -115px;
}
#S4 {
    background-position: -273px -115px;
}
#S5 {
    background-position: -363px -115px;
}
#S6 {
    background-position: -453px -115px;
}
#S7 {
    background-position: -544px -115px;
}
#S8 {
    background-position: -634px -115px;
}
#S9 {
    background-position: -724px -115px;
}
#S10 {
    background-position: -814px -115px;
}
#SJ {
    background-position: -904px -115px;
}
#SQ {
    background-position: -995px -115px;
}
#SK {
    background-position: -1085px -115px;
}
#HA {
    background-position: -2px -229px;
}
#H2 {
    background-position: -93px -229px;
}
#H3 {
    background-position: -183px -229px;
}
#H4 {
    background-position: -273px -229px;
}
#H5 {
    background-position: -363px -229px;
}
#H6 {
    background-position: -453px -229px;
}
#H7 {
    background-position: -544px -229px;
}
#H8 {
    background-position: -634px -229px;
}
#H9 {
    background-position: -724px -229px;
}
#H10 {
    background-position: -814px -229px;
}
#HJ {
    background-position: -904px -229px;
}
#HQ {
    background-position: -995px -229px;
}
#HK {
    background-position: -1085px -229px;
}
#DA {
    background-position: -2px -342px;
}
#D2 {
    background-position: -93px -342px;
}
#D3 {
    background-position: -183px -342px;
}
#D4 {
    background-position: -273px -342px;
}
#D5 {
    background-position: -363px -342px;
}
#D6 {
    background-position: -453px -342px;
}
#D7 {
    background-position: -544px -342px;
}
#D8 {
    background-position: -634px -342px;
}
#D9 {
    background-position: -724px -342px;
}
#D10 {
    background-position: -814px -342px;
}
#DJ {
    background-position: -904px -342px;
}
#DQ {
    background-position: -995px -342px;
}
#DK {
    background-position: -1085px -342px;
}
/* card img end */